#Enn{float:left;background-color: blue;width: 100%;height: 200px;text-align: center;}
#Mndolo{float:left;background-color: purple;width: 25%;height: 150px;}
#Austin{float:left;background-color: rgb(219, 217, 235);width: 50%;height: 150px;}
#Gladys{float:left;background-color: purple;width: 25%;height: 150px;}
#Maureen{float:left;background-color: rgb(255, 94, 0);width: 100%;height: 200px;}